:root{
	--black-color: #000;
	--white-color: #fff;
	--title-color: #216680;
	--text-color: #232323;
	--secondary-title-color: #1a2540;
	--primary-font: 'Cormorant Garamond', serif;
	--secondary-font: 'Manrope', sans-serif;
	--bg-light-gray: #f7f7f7;
	--title-hover-color: #197193;
	--teal-color: #0E4242;
}
body{margin: 0;padding: 0;}
.headers{width: 100%; position: relative;}
.header-navs{position: absolute;top: 0;z-index: 1;display: flex;width: 100%;}
.header-navigaton-logo{float: left;width: 30%;display: block;margin-top: 10px;margin-left: 25px;}
.header-navigaton-logo a{display: block;}
.header-navigaton-logo a img{}
.header-navigatons-menus{float: left;width: 70%;display: block;margin: 10px 25px 0px 0px;}
.header-navigatons-menus ul{float: left;padding: 0;margin-bottom: 0;display: block;}
.header-navigatons-menus ul li{list-style: none;display: inline-block;}
.header-navigatons-menus ul li a{color: var(--white-color);font-family: var(--secondary-font);font-size: 18px;text-decoration: none;margin: 8px 14px 0px 14px;display: block;}
.header-navigaton-menu{float: right;width: 50%;display: none;}

.header{position: fixed;z-index: 1000;width: 100%;background: rgb(0 0 0 / 0%);padding: 0 0px 15px;-webkit-transition: all ease-out .5s;-moz-transition: all ease-out .5s;-o-transition: all ease-out .5s;transition: all ease-out .5s;}
.headeractive{background-color: var(--title-color);}


.sidenav {height: 100%;width: 0;position: fixed;z-index: 1;top: 0;right: 0;background-color: var(--title-color);overflow-x: hidden;transition: 0.5s;padding-top: 60px;}
.sidenav a {transition: 0.3s;}

.navtoggles{cursor:pointer;position: absolute;right: 15px;top: 10px;color: var(--white-color);}
.navtoggles img{width: 35px;}
.sidenav .closebtn{text-decoration: none;position: absolute;top: 10px;right: 25px; margin-left: 50px;display: block;color: var(--white-color);}
.sidenav .closebtn img{width: 30px;}
.sidenav ul{padding: 0 20px;}
.sidenav ul li{width: 100%;list-style: none;}
.sidenav ul li a{font-family: var(--secondary-font);text-decoration: none;width: 100%;display: block;color: var(--white-color);font-size: 20px;margin-bottom: 10px;text-transform: uppercase;}

.headercallbtn{font-family: var(--secondary-font);color: var(--white-color);text-decoration: none;margin: 8px 14px 0px 14px;display: block;float: right;}
.headercallbtn:hover{color: var(--white-color);}

.headercallbtnmobile{font-family: var(--secondary-font);color: var(--white-color);text-decoration: none;margin: 18px 0px 0px 0px;display: block;float: right;}
.headercallbtnmobile:hover{color: var(--white-color);}



.banner-section{width: 100%;top: 0;}
.banner-section img{width: 100%;text-align: center;}
.desktop-img{display: block;}
.mobile-img{display: none;}

.bannervideo{width: 100%;overflow: hidden;position: relative;}
.bannervideo video{width: 100%;height: 100%;}
.bannervideo iframe{width: 100%;height: 750px;position: relative;}
/*.bannervideo:after {content: '';position: absolute;left: 0;top: 0;width: 100%;height: 100%;display: inline-block;background: linear-gradient(to top, #ffffff00, #00000061);}*/

.top-strips{width: 100%;background: var(--title-color);padding: 15px 0px;}
.top-strips-inner{text-align: center;}
.top-strips-inner h3{color: var(--white-color);font-family: var(--secondary-font);font-size: 22px;line-height: 1.5;}
.top-strips-inner h3 span{display: block;}

section{width: 100%;display: block;padding: 30px 0px}
.bg-light-gray{background-color: var(--bg-light-gray);}
.bg-white{background-color: var(--white-color);}
.header-title{}
.header-title h2{font-family: var(--primary-font);text-align: center;color: var(--title-color);font-size: 50px;letter-spacing: 5px;text-transform: uppercase;position: relative;margin-bottom: 20px;}
.header-title h2::after {content: '';display: block;width: 80px;height: 2px;background-color: var(--title-color);margin: 0 auto;margin-top: 1px;}

.about-imgs{margin-bottom: 20px;}
.about-imgs img{width: 100%;}
.about-descp{}
.about-descp h4{font-family: var(--primary-font);font-size: 40px;color: var(--secondary-title-color);font-weight: 600;margin-bottom: 20px;position: relative;}
.about-descp h4::after {content: '';display: block;width: 80px;height: 1px;background-color: var(--secondary-title-color);margin-top: 1px;}
.about-descp p{font-family: var(--secondary-font);line-height: 2;letter-spacing: 0.3px;color: var(--text-color);font-size: 16px;}

.about-descp ul{padding-left: 20px;display: inline-block;}
.about-descp ul li{width: 100%;float: left;list-style: circle;font-family: var(--secondary-font);line-height: 2;letter-spacing: 0.3px;color: var(--text-color);font-size: 16px;}

.d-mobile-none{display: block;}
.d-desktop-none{display: none;}

.phase-section{width: 100%;background-image: url(../img/phase-img-bg-3.webp);background-position: center;background-size: cover;padding: 70px 0px 50px 0px;}
.phase-boxes{text-align: center;margin-bottom: 20px;}
.phase-boxes img{width: 60px;margin-bottom: 10px;}
.phase-boxes h4{font-family: var(--secondary-font);color: var(--white-color);font-size: 18px;letter-spacing: 0.3px;text-transform: capitalize;}
.phase-boxes h3{font-family: var(--primary-font);color: var(--white-color);font-weight: 600;font-size: 45px;position: relative;margin-bottom: 20px;}
.phase-boxes h3::after{content: '';display: block;width: 80px;height: 2px;background-color: var(--white-color);margin: 0 auto;margin-top: 1px;}
.phase-boxes h5{font-family: var(--secondary-font);color: var(--white-color);font-size: 22px;margin-bottom: 50px;}


.tab {overflow: hidden;width: 100%;display: flex;text-align: center;margin: 0 auto;}
.tab button {background-color: var(--white-color);color: var(--text-color); float: left;border: 1px solid var(--title-color);outline: none;cursor: pointer;padding: 8px 50px;transition: 0.3s;font-size: 20px;margin-right: 10px;font-family: var(--primary-font);margin: 0 auto;}
.tab button:hover {background-color: #197193;color: var(--white-color);}
.tab button.active {background-color: var(--title-color);color: var(--white-color);}
.tabcontent {display: none;padding: 20px 0px;}
#indoor-owl-demo .item{margin: 15px;text-align: center;}
#outdoor-owl-demo .item{margin: 15px;text-align: center;}
.customNavigation{width:100%; margin:0 auto; text-align:center; cursor:pointer}
.amenities-boxes{margin-bottom: 20px;border: 1px solid #e4e4e4;padding: 20px 0px;background: var(--bg-light-gray);}
.amenities-boxes:hover{box-shadow: 0 0 30px rgb(0 0 0 / 8%);border-color: var(--white-color);background: var(--white-color);}
.amenities-boxes img{margin-bottom: 10px;width: 50px;}
.amenities-boxes h5{text-align: center;color: var(--title-color);font-family: var(--primary-font);font-size: 22px;font-weight: 600;text-transform: capitalize;}


.location-box-details{}
.location-box-details h4{font-family: var(--secondary-font);}
.location-box-details ul{padding-left: 0;}
.location-box-details ul li{width: 33.33333%;float: left; display: flex;align-content: center;align-items: center;margin-bottom: 30px;}
.location-boxes-icon{width: 80px;border: 1px solid var(--title-color);border-radius: 50%;text-align: center;}
.location-boxes-icon img{width: 100%;padding: 15px;}
.location-boxes-details{width: calc(100% - 80px);padding-left: 10px;}
.location-boxes-details p{font-family: var(--secondary-font);font-size: 18px;color: var(--text-color);}
.location-boxes-details p span{font-size: 22px;width: 100%;display: block;font-family: var(--primary-font);color: var(--title-color);font-weight: 600;margin-bottom: 5px;}
.location-box{}
.location-box img{width: 100%;}


.features-sections{width: 100%;}
.feature-col{width: 50%;float: left;}
.feature-inner-details{background-color: var(--title-color);padding: 50px 55px;min-height: 433px;}
.feature-inner-details h2{font-family: var(--primary-font);color: var(--white-color);position: relative;letter-spacing: 5px;font-size: 45px;text-transform: uppercase;margin-bottom: 20px;}
.feature-inner-details h2::after{content: '';display: block;width: 80px;height: 2px;background-color: var(--white-color);margin-top: 1px;}
.feature-inner-details ul{padding-left: 18px;}
.feature-inner-details ul li{list-style: circle;font-family: var(--secondary-font);color: var(--white-color);font-size: 17px;margin-bottom: 5px;}
/*.feature-inner-details ul li::marker{content: '✝ ';font-size: 1.2em;}*/
.feature-inner-img{background-image: url(../img/highlights-img.webp);background-position: center;background-size: cover;min-height: 433px;}



.gallerytab {overflow: hidden;width: 100%;display: flex;text-align: center;margin: 0 auto;}
.gallerytab button {background-color: var(--white-color);color: var(--text-color); float: left;border: 1px solid var(--title-color);outline: none;cursor: pointer;padding: 8px 40px;transition: 0.3s;font-size: 20px;margin-right: 10px;font-family: var(--primary-font);margin: 0 auto;}
.gallerytab button:hover {background-color: var(--title-hover-color);color: var(--white-color);}
.gallerytab button.gallerytabactive {background-color: var(--title-color);color: var(--white-color);}
.gallerytabcontent {display: none;padding: 20px 0px;}


#exteriors-owl-demo .item{margin: 15px;text-align: center;position: relative;}
.customNavigation{width:100%; margin:0 auto; text-align:center; cursor:pointer;}
.gallery-imgs-boxes{position: relative;}
.gallery-imgs-boxes img{width: 100%;position: relative;}
.gallery-imgs-details{position: absolute;width: 100%;bottom: 0;background-color: rgb(25 113 147 / 83%);}
.gallery-imgs-details p{font-family: var(--primary-font);text-align: center;color: var(--white-color);margin: 0;padding: 8px 0px;font-size: 20px;}


.exteriorsNavigation{position: absolute;top: 40%;}
.exteriorsNavigation .btn{padding: 0;position: absolute;}
/*.exteriorsNavigation .btn:hover{background-color: var(--title-hover-color);}*/
.exteriorsNavigation .btn i{color: var(--title-color);font-size: 60px;}
.exteriorsNavigation .prev{float: left;left: -50px;}
.exteriorsNavigation .next{float: right;right: -50px;}

#interiors-owl-demo .item{margin: 15px;text-align: center;position: relative;}
.interiorsNavigation{position: absolute;top: 40%;}
.interiorsNavigation .btn{padding: 0;position: absolute;}
/*.interiorsNavigation .btn:hover{background-color: var(--title-hover-color);}*/
.interiorsNavigation .btn i{color: var(--title-color);font-size: 60px;}
.interiorsNavigation .prev{float: left;left: -50px;}
.interiorsNavigation .next{float: right;right: -50px;}

#amenities-owl-demo .item{margin: 15px;text-align: center;position: relative;}
.amenitiesNavigation{}
.amenitiesNavigation .btn{color: var(--white-color);background-color: var(--title-color);border: 1px solid var(--title-color);border-radius: 0;}
.amenitiesNavigation .btn:hover{background-color: var(--title-hover-color);}
.amenitiesNavigation .btn i{}
.amenitiesNavigation .prev{}
.amenitiesNavigation .next{}




.contact-sections{width: 100%;}
.contact-col{width: 50%;float: left;}
.contact-inner-details{background-color: var(--title-color);padding: 50px 55px;}
.contact-inner-details h2{font-family: var(--primary-font);color: var(--white-color);position: relative;letter-spacing: 5px;font-size: 50px;text-transform: uppercase;margin-bottom: 30px;}
.contact-inner-details h2::after{content: '';display: block;width: 80px;height: 2px;background-color: var(--white-color);margin-top: 1px;}
.contact-inner-details h4{font-family: var(--secondary-font);color: var(--white-color);text-transform: uppercase;letter-spacing: 1px;}
.contact-inner-details p{font-family: var(--secondary-font);color: var(--white-color);display: none;}
.contact-inner-details ul{padding-left: 0;margin: 20px 0px;}
.contact-inner-details ul li{font-family: var(--secondary-font);color: var(--white-color);list-style: none;margin-bottom: 5px;}
.contact-inner-details ul li i{color: var(--white-color);vertical-align: middle;margin-right: 5px;font-size: 22px;}
.contact-inner-details ul li span{font-family: var(--secondary-font);color: var(--white-color);display: none;}
.contact-inner-details ul li a{font-family: var(--secondary-font);color: var(--white-color);text-decoration: none;}

.contact-locations{background-image: url(../img/location-map.webp);background-position: center center;background-size: cover;min-height: 370px;position: relative;}
.contact-location-ctas{position: absolute;bottom: 10px;width: 100%;text-align: center;font-family: var(--secondary-font);}
.location-cta-map{background-color: var(--title-color);color: var(--white-color);border: 1px solid var(--title-color);text-decoration: none;padding: 10px 20px 10px 20px;font-size: 16px;}
.location-cta-map:hover{background-color: var(--title-hover-color);color: var(--white-color);}
.google-cta-map{background-color: var(--white-color);color: var(--title-color);border: 1px solid var(--title-color);text-decoration: none;padding: 10px 20px 10px 20px;font-size: 16px;}
.google-cta-map:hover{background-color: var(--title-color);color: var(--white-color);}




.rera-details{}
.rera-details h4{font-family: var(--secondary-font);color: var(--title-color);}
.rera-details p{font-family: var(--secondary-font);font-size: 17px;text-align: justify;}

.sidebar-widgets{position: fixed; /*z-index: 99999999999; */ bottom: 50%;right: 15px;background: var(--teal-color);padding: 10px 10px;}
.sidebar-widgets ul {list-style: none;font-family: var(--secondary-font);padding-left: 0;margin-bottom: 0;border: 1px solid var(--white-color);}
.sidebar-widgets ul li button{color: var(--white-color);padding: 8px 10px 8px 10px;border: none;background-color: var(--teal-color);font-size: 16px;outline: none;}
.sidebar-widgets ul li button i{margin-right: 5px;}

.footer-side-widegts{display: none;}
.footer-side-widegts{position: fixed; /*z-index: 99999999999; */ bottom: 0;left: 0;width: 100%; background: var(--teal-color);padding: 10px 10px;}
.footer-side-widegts ul{width: 100%;display: flex;padding-left: 0;align-items: center;margin-bottom: 0;border: 1px solid var(--white-color);}
.footer-side-widegts ul li{width: 50%;float: left;text-align: center;list-style: none;font-family: var(--secondary-font);border-right: 1px solid var(--white-color);}
.footer-side-widegts ul li:last-child{border-right: none;}
.footer-side-widegts ul li a{text-decoration: none;color: var(--white-color);padding: 10px 10px 10px 10px;}
.footer-side-widegts ul li a i{margin-right: 5px;}
.footer-side-widegts ul li button{color: var(--white-color);padding: 10px 10px 10px 10px;border: none;background-color: var(--teal-color);font-size: 16px;outline: none;}
.footer-side-widegts ul li button i{margin-right: 5px;}

.modal {display: none;position: fixed;z-index: 99999999999;padding-top: 100px;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);}
.modal-content {background-color: var(--white-color);margin: auto;padding: 0px;width: 40%;border: none;border-radius: 0;}
.close {color: var(--white-color);float: right;font-size: 36px;font-weight: 100;margin-top: -8px;}
.close:hover,.close:focus {color: var(--white-color);text-decoration: none;cursor: pointer;}
.modal-form{}
.modal-form h2{text-align: center;font-family: var(--secondary-font);color: var(--white-color);text-transform: uppercase;background: var(--title-color);font-size: 25px;padding: 10px 10px;}

.popupforms{padding: 20px;}

.form-filed{width: 100%;margin-bottom: 15px;font-family: var(--secondary-font);}
.form-filed label{width: 100%;color: var(--text-color);margin-bottom: 3px;display: none;}
.fullinput{width: 100%;}
.form-filed input{outline: none;border: 1px solid var(--title-color);padding: 8px 10px;}
.form-filed select{outline: none;border: 1px solid var(--title-color);padding: 8px 6px 8px 6px;margin-right: 5px;}
.halfinput{width: calc(100% - 100px);}
.form-filed button{display: inline-block;border: 2px solid var(--title-color);background: var(--title-color);color: var(--white-color);text-align: center;padding: 10px 100px;font-family: var(--secondary-font);font-size: 18px;letter-spacing: 0.5px;margin: 10px 0px 0px 0px;}
.form-filed button:hover{background-color: var(--white-color);color: var(--title-color);}

#thank-you-campaign{width: 100%;margin: 0;padding: 0;text-align: center;background: var(--title-color);position: absolute !important;top: 50%;left: 50%;transform: translate(-50%, -50%) !important;}
.thank-you-campaign-section img{text-align: center;margin-bottom: 10px}
.thank-you-campaign-section h1{font-family: var(--secondary-font);text-align: center;color: #fff;margin-top: 0;font-weight: 500;font-size: 45px;text-transform: uppercase;margin-bottom: 10px;}
.thank-you-campaign-section p{font-family: var(--secondary-font);text-align: center;color: #fff;margin-top: 0;font-weight: 500;font-size: 18px;margin-bottom: 12px;line-height: 1.5;}

.enquireMainFormWrapper .enquireFormWrapper .formWrapper form .formField.callbk-chk input[type=checkbox] {height: 18px;width: 18px;vertical-align: middle;margin-left: 10px;}
select.countryC {display: inline-block;}
.enquireMainFormWrapper .enquireFormWrapper .formWrapper form .formField .countryC {width: 35%;height: auto;border: 1px solid #707070;padding: 0.4em 1%;font-weight: 300;font-size: .85em;display: inline-block;margin-bottom: 0.7em;max-width: 50%;float: right;}
.enquireMainFormWrapper .enquireFormWrapper .formWrapper form .formField.mobileField {text-align: left;}
.cam_ty {display: none;position: absolute;top: 0;background: #ac9594;color: #fff;padding: 10px;width: 100%;left: 0;height: 100%;border-radius: 15px;text-align: center;padding-top: 40%;box-shadow: 1px 2px 8px 1px #333;}
.cam_ty .thank_u_head {font-size: 30px;}
.cam_ty .thank_u_copy {font-size: 13px;}
.lnt_form_error {color: red;font-family: var(--secondary-font);}


#scroll{position:fixed;right:15px;bottom:65px;cursor:pointer;width:40px;height:40px;background-color:var(--teal-color); display:none;}
#scroll span{position: relative;text-align: center;}
#scroll span i{position:absolute;top:50%;left:50%;margin-top:-12px;height:0;width:0;color:#fff;font-size:40px}
#scroll:hover{background-color: var(--title-hover-color);opacity:1;filter:"alpha(opacity=100)";-ms-filter:"alpha(opacity=100)"}


@media only screen and (max-width: 1024px){
	.location-box-details ul li{width: 50%;}
	.top-strips-inner h3{font-size: 20px;}
	.feature-inner-img{min-height: 476px;}
	.bannervideo iframe{height: 575px;}
}

@media only screen and (max-width: 992px){
	.d-mobile-none{display: none;}
	.d-desktop-none{display: block;}
	.phase-boxes{margin-bottom: 40px;}
	.about-imgs{margin-bottom: 20px;}
	.feature-inner-img{display: none;}
	.feature-col{width: 100%;}
	.feature-inner-details{min-height: auto;}
	.contact-col{width: 100%;}
	.contact-locations{background-position: top center;}
	.modal-content{width: 80%;}
	.header-navigatons-menus{display: none;}
	.header-navigaton-menu{display: block;}
	.headercallbtnmobile{display: none;}
	
}

@media only screen and (max-width: 800px){
	.desktop-img{display: none;}
	.mobile-img{display: block;}
	.location-box-details ul li{width: 100%;}
	.header-navigaton-logo{margin-left: 10px;}
	.top-strips-inner h3{font-size: 18px;}
	.feature-inner-details{padding: 30px 20px;}
	.contact-inner-details{padding: 30px 20px;}
	.sidebar-widgets{display: none;}
	.footer-side-widegts{display: block;}
	.bannervideo iframe{height: 450px;}
	.modal-content{width: 94%;}
}

@media only screen and (max-width: 767px){
	.top-strips-inner h3 span{display: inline;}
	#exteriors-owl-demo .item, #interiors-owl-demo .item, #amenities-owl-demo .item{margin: 1px;}
	.customNavigation{margin-top: 5px;}
	.bannervideo iframe{height: 420px;}
	.exteriorsNavigation, .interiorsNavigation{display: none;}
}
@media only screen and (max-width: 500px){
	.gallerytab button{padding: 8px 30px;}
	.bannervideo iframe{height: 285px;}
}
@media only screen and (max-width: 450px){
	.top-strips-inner h3{font-size: 15px;}
	.header-title h2{font-size: 40px;}
	.about-descp h4{font-size: 30px;}
	.about-descp p{font-size: 15px;text-align: justify;line-height: 1.8;}
	.phase-boxes h3{margin-bottom: 10px;font-size: 40px;}
	.feature-inner-details h2{font-size: 40px;}
	.contact-inner-details h2{font-size: 40px;}
	.gallerytab button{padding: 6px 22px;}
	.rera-details p{text-align: left;line-height: 1.5;}
	.bannervideo iframe{height: 250px;}
}

@media only screen and (max-width: 425px){
	.amenities-boxes img{width: 45px;}
	.amenities-boxes h5{font-size: 18px;}
	.tab button{padding: 6px 35px;}
}
@media only screen and (max-width: 375px){
	.gallerytab button{padding: 5px 18px;}
	#indoor-owl-demo .item, #outdoor-owl-demo .item{margin: 5px;}
	.amenities-boxes{margin-bottom: 10px;}
}

@media only screen and (max-width: 350px){
/*	.gallerytab button{padding: 5px 13px;font-size: 18px;}*/
	.rera-details p{font-size: 15px;}
	.header-title h2{font-size: 30px;}
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}